@import "var";
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

body {
    font-family: $secondery-font;
}